
<div *ngIf = "!userVision">
   <button (click)="backToTheHistory()" class="back"> Back</button>
   
 <table class="table">
    
    <thead>
      <tr>
        <td><b>Description</b></td>
        <td><b>Value</b></td>
        <td><b>Who</b></td>
        <td><b>Date</b></td>
       </tr>
       
      </thead>
      <tbody>
          <tr *ngFor="let aa of listOfDescription">
               <td>{{aa.description}}</td>
               <td>{{aa.value}}</td>
               <td>{{aa.userName}}</td>
               <td>{{aa.date}}</td>
               <button (click)=deleteEntry(aa) class="deleteEntryButton"> Delete entry</button>
               </tr>
               <td></td>
           </tbody>
          </table>
          
      
  </div>

  <div *ngIf = "userVision">
   <!--<button (click)="refresh()">aa</button>-->
    <table class="table">
    
        <thead>
      
           </thead>
          <tbody>
              <tr *ngFor="let bud of listOfBudgets">
                   <td>{{bud.budgetName}}</td>
                    <td><button (click)="showBudget(bud)" class="showBudget">Show budget</button></td>
                    <td><button (click)="remove(bud)" class="remove">Remove</button></td>
                   </tr>
                   <td></td>
               </tbody>
              </table>
              
          
</div>


  