<!--<div class="container">
  <div>
    Nick name : <input type="text" name="nickname" [(ngModel)]="nickname">
    Passwordd : <input type="text" name="passwordd" [(ngModel)]="passwordd">
  </div>

  <button  (click)=checkLogin()   class="btn btn-success">
    Login
  </button>
  <td>{{stringIfWrongLogIn}}</td>
  <button  (click)=adminLog()   class="btn btn-success">
    Admin log
  </button>

</div>

<div style="background-color:grey;"></div>-->
<div class="loginTextPlaceNick">
  <td>NICK <input type="text" name="nickname" [(ngModel)]="nickname"></td>
</div>
<div class="loginTextPlacePass">
  <td>PASSWORD <input type="text" name="passwordd" [(ngModel)]="passwordd"></td>
</div>
<button  (click)=checkLogin()   class="loginButton">LOGIN</button>
<button (click)="registerUser()" class="registerButton">REGISTER</button>
<button (click)="fastRegister()"> fastRegister</button>)