.back{
    position: absolute;
      left: 1800px;
      padding: 15px 20px;
      border-radius: 12px;
      border: none;
      background-color: #00000096;
      color: white;
      cursor:pointer;
  }
.createButton{
    position: absolute;
    top: 410px;
    left: 790px;
    padding: 15px 20px;
    border-radius: 12px;
    border: none;
    background-color: #00000096;
    color: white;
    cursor:pointer;
}
  .descriptionTextField{
    position: absolute;
    left: 670px;
    top: 370px;
  }