
<div *ngIf = "userVision" >

  <button (click)="refreshList()" class="refresh">Refresh</button>
  
    <!--<button (click)="createBudget()" class="createBugdet">Create new budget</button>-->
  <tr>
    <th class="budgetName">Budget name</th>
   </tr>
  <table class="table">
       <thead>
       </thead>
       <tbody *ngFor="let budg of budgetWithPermissionToRemove ">
        <td class="budgetNameFont">{{budg.budgetName}}</td>
        <td><button (click)=changeVision(budg) class="showBudget">Show budget</button></td>
        <td><button (click)=deleteBudget(budg) class="remove">Remove</button></td>
        <td><button (click)=leaveBudget(budg) class="leave">Leave</button></td>
      </tbody>
                 <!--<ng-conteiner *ngFor="let vision of booleanArray">
                </ng-conteiner>-->
                <!--
 
               

 <tbody *ngFor="let vision of booleanArray">
        <ng-conteiner *ngFor="let budg of listOfBudgets">
               <td class="budgetNameFont">{{budg.budgetName}}</td>
               <td><button (click)=changeVision(budg) class="showBudget">Show budget</button></td>
               <td *ngIf ="vision"><button (click)=deleteBudget(budg) class="remove">Remove</button></td>
               <td><button (click)=leaveBudget(budg) class="leave">Leave</button></td>
               </ng-conteiner>

                -->
                 
             <tbody *ngFor="let budg2 of budgetWithoutPermissionToRemove ">
               <td class="budgetNameFont">{{budg2.budgetName}}</td>
               <td><button (click)=changeVision(budg2) class="showBudget">Show budget</button></td>
               <td><button (click)=leaveBudget(budg2) class="leave">Leave</button></td>
              </tbody>
      </table>
      
      
</div>

<div *ngIf = "!userVision">
  <button (click)=changeVision(budg) class="back">Back</button>
  <button (click)="addNewMemberToTheBudget()" class="addNewMemberButton">Add friend</button>
  <button (click)="addExpectedExpanses()" class="addExpectedExpanses">Add expected expanses</button>
  <button (click)=addDescriptionToTheBudget() class="addDescription"> Add</button>
  <button (click)="budgetSettings()" class="budgetSettingCss">Budget setting</button>
  
  <td class="descriptionTextField">Description : <input type="text" name=description [(ngModel)]=description></td>
  <td class="valueTextField">Value : <input type="text" name=value [(ngModel)]=value></td>
  <td class="addNewMemberTextField">nickname : <input type="text" name=friendNick [(ngModel)]=friendNick></td>
  
  <td class="budgetDate">Term:</td>
  <td class="budgetDateStart">{{inviteNewFriendToTheBudgetAndDisplayDescriptions.budgetStartDate}}</td>
  <td class="budgetDateEnd">{{inviteNewFriendToTheBudgetAndDisplayDescriptions.budgetEndDate}}</td>
  <div *ngIf = "!fontColor"><td class="budgetGoalFalse">Limit:   {{inviteNewFriendToTheBudgetAndDisplayDescriptions.goal}}</td></div>
  <div *ngIf = "fontColor"><td class="budgetGoal" style="color:red">Limit:   {{inviteNewFriendToTheBudgetAndDisplayDescriptions.goal}}</td></div>
  <td class="totalValue">Total value:  {{TotalValue}}</td>
  <td class="expectedExpanses">Expected expenses:  {{expectedExpenses}}</td>
 
<table class="table">
  
  <thead>
    <tr>
      <td><b>Description</b></td>
      <td><b>Value</b></td>
      <td><b>Who</b></td>
      <td><b>Date</b></td>
     </tr>
     
    </thead>
    <tbody>
        <tr *ngFor="let bud of inviteNewFriendToTheBudgetAndDisplayDescriptions.budgetList">
             <td>{{bud.description}}</td>
             <td>{{bud.value}}</td>
             <td>{{bud.userName}}</td>
             <td>{{bud.date}}</td>
             <button (click)=deleteEntry(bud) class="deleteEntryButton"> Delete entry</button>
             </tr>
             <td></td>
         </tbody>
        </table>
        
    
</div>

<!---->