<div *ngIf = "userVision" class="container">
    <table class="table table-striped">
        <thead>
        <tr>
          <th>Budget name</th>
         </tr>
         
        </thead>
        <tbody>
            <tr *ngFor="let budg of listOfBudgets">
                 <td>{{budg.budgetName}}</td>
                 <td><button (click)=changeVision(budg)>Show budget</button></td>
                 <td><button (click)=deleteBudget(budg.id)>delete</button></td>
                 <td><button (click)="addNewMemberToTheBudget(budg)" class="btn btn-success">Add friend</button></td>
                 </tr>
                 
             </tbody>
      </table>
      <td><button (click)="createBudget()" class="btn btn-success">Create new budget</button></td>
   
      
</div>
<div *ngIf = "!userVision">
  <div>
    <td><h3>Find user</h3></td>
             v : <input type="text" name=value [(ngModel)]=value>
             d : <input type="text" name=description [(ngModel)]=description>
        <button (click)=addDescriptionToTheBudget()> Add</button>
        <td><button (click)=changeVision(budg)>Back</button></td>
      
        <td><button (click)="addNewMemberToTheBudget2()" class="btn btn-success">Add friend</button></td>
        nickname : <input type="text" name=friendNick [(ngModel)]=friendNick>

<table class="table table-striped">
  
  <thead>
    <tr>
      <th>Budget name</th>
     </tr>
     
    </thead>
    <tbody>
        <tr *ngFor="let bud of budgetArray2">
             <td>{{bud.description}}</td>
             <td>{{bud.value}}</td>
             <td>{{bud.userName}}</td>
             <button (click)=deleteEntry(bud)> Delete entry</button>
             </tr>
             <td></td>
         </tbody>
        </table>

</div>



