<div *ngIf="vision">
<div class="loginTextPlaceNick">
    <td>NICK : <input type="text" name="nickname" [(ngModel)]="nickname"></td>
  </div>
  <div class="loginTextPlacePass">
    <td>PASSWORD : <input type="text" name="passwordString" [(ngModel)]="passwordString"></td>
  </div>
  <div class="registerTextFieldEmail">
    <td>EMAIL : <input type="text" name="email" [(ngModel)]="email"></td>
  </div>
  <div class="registerTextFieldName">
    <td>NAME : <input type="text" name="name" [(ngModel)]="name"></td>
  </div>
  <div class="registerTextFieldLastname">
    <td>LASTNAME : <input type="text" name="lastname" [(ngModel)]="lastname"></td>
  </div>
  <button (click)="registerUser()" class="registerButton">REGISTER</button>
  <button (click)=goToLogin() class="back">BACK</button>
</div>

<div *ngIf="!vision">
<button (click)="confirm()" class="confirmButton">ACTIVATE ACCOUNT</button>
<button (click)="goToLogin()" class="backButton">BACK</button>
</div>