.back{
    position: absolute;
      left: 1800px;
      padding: 15px 20px;
      border-radius: 12px;
      border: none;
      background-color: #00000096;
      color: white;
      cursor:pointer;
  }
  .backButton{
    position: absolute;
    top: 160px;  
    left: 1000px;
      padding: 100px 90px;
      border-radius: 12px;
      border: none;
      background-color: #00000096;
      color: white;
      cursor:pointer;
  }

  .checkButton{
    position: absolute;
    top: 160px;  
    left: 1000px;
      padding: 100px 90px;
      border-radius: 12px;
      border: none;
      background-color: #00000096;
      color: white;
      cursor:pointer;
  }
  .confirmButton{
    position: absolute;
    top: 160px;  
    left: 500px;
      padding: 100px 90px;
      border-radius: 12px;
      border: none;
      background-color: #00000096;
      color: white;
      cursor:pointer;
  }

.loginTextPlaceNick{
    position: absolute;
    left: 746px;
    top: 255px;
  }
  

  .loginTextPlacePass{
    position: absolute;
    left: 699px;
    top: 300px;
  }

  .registerTextFieldEmail{
    position: absolute;
    left: 737px;
    top: 345px;
  }

  .registerTextFieldName{
    position: absolute;
    left: 737px;
    top: 390px;
  }

  .registerTextFieldLastname{
    position: absolute;
    left: 702px;
    top: 435px;
  }

  .registerButton{
    position: absolute;
    border-radius: 12px;
    left: 800px;
    top: 555px;
    border: none;
    background-color: #00000096;
    color: white;
    padding: 15px 22px;   
    cursor:pointer;
  }